.App {
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: black;
  border-style: double;
  border-color: white;
  border-width: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Titulos{
  border-style: double;
  border-color: white;
  font: arial;
  font-size: 40px;
  border-width: thick;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.img1{
  width: 850px;
  border-style: double;
  border-width: 10px;
  border-color: violet;
}
.img2{
  width: 850px;
  border-style: double;
  border-color: blue;
  border-width: 10px;
}

.buttons{
  border-style: solid;
  border-color: purple;
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px 30px;
  margin-bottom: 40px;
  font-size: 20px;
  background-color: black;
  color: white
}