.App {
  text-align: center;
  font-size: 50px;
  color: white;
  background-color: black;
  border-style: double;
  border-color: white;
  border-width: 30px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Titulos{
  border-style: double;
  border-color: white;
  font: arial;
  font-size: 40px;
  border-width: thick;
  width: 40%;
  text-align: center;
  margin: auto;
  margin-bottom: 20px;
  margin-top: 50px;
}

.img1{
  width: 850px;
  border-style: double;
  border-width: 10px;
  border-color: violet;
}
.img2{
  width: 850px;
  border-style: double;
  border-color: blue;
  border-width: 10px;
}

.buttons{
  border-style: solid;
  border-color: purple;
  width: 200px;
  height: 40px;
  text-align: center;
  padding: 10px 30px;
  margin-bottom: 40px;
  font-size: 20px;
  background-color: black;
  color: white
}

.buttons2{
  border-style: solid;
  color: white;
  background-color: black;
  border-color: gold;
  width: 200px;
  height: 40px;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: auto;
}

.state{
  border-style: double;
  width: 50% ;
  margin: auto;
  border-width: 20px;
 border-color: crimson;
 color: black;
 background-color: white; 
}

.Lista1 {
  border-style: double;
  width: 40%;
  border-color: blue;
  font: arial;
  font-size: 40%;
  margin: auto;
  margin-top: 120px;
  margin-bottom: 60px;
  text-align: left;
  padding: 10px 30px;
  border-width: 40px;
  background-color: white;
  color: black;

}

.buttons1{
  border-style: solid;
  border-color: red;
  background-color: black;
  color: white;
  width: 200px;
  height: 40px;
}