form {
  width: 500px;
  margin: 0 auto;
  text-align: left;
}

input,
textarea,
select {
  display: block;
  margin-top: 10px;
}

.field {
  border-style: double;
  border-color: white;
  border-width: 5px;
  width: 500px;
  padding: left;
  text-align: left;
  margin: auto;
  height: 200px;
  font-size: large;
  margin-top: 20px;
  margin-left: 20px;
  background-color: black;
}

.button {
  border-style: mixed;
  border-color: gold;
  width: 90px;
  margin: 20px;
  font-size: 20px;
  color: white;
  background-color: black;
}

textarea {
  width: 97%;
  margin: auto;
  height: 76%;
  margin-top: 2%;
  background-color: black;
  color: white;
}

input {
  width: 96%;
  height: 10%;
  color: white;
  background-color: black;
  border-style: mixed;
  margin-bottom: 20px;
}

.role {
  padding: 0;
  margin: 0;
  text-align: center;
  justify-content: center;
  font-size: 90%;
}
